<%= form_with model: note, class: "form-partial", local: true do |f| %>
    <div data-controller="tag checkbox-select-all" >
        <div class="form-group">
        <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
        </div>
        <div class="form-group mt-4">
            <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
        </div>
        <div class="form-group"><%= f.rich_text_area :content, rows: 100 , class: "form-control", placeholder: "Type your content here" %></div>
        <div class="form-group mt-4">
                    <input id = "note_all" type="checkbox" data-checkbox-select-all-target="checkboxAll" />
                    <label for = "note_all" >
                    Select All / Deselect All
                    </label>
            <%= f.collection_check_boxes :wing_ids, Wing.all, :id, :name, checked: current_wing.id do |b| %>
                <%= b.check_box data: { checkbox_select_all_target: 'checkbox' } %>
                <%= b.label do %>
                <%= b.text %>
                <% end %>
            <% end %>
        </div>
        <div class="custom-control custom-switch">
                <%= f.check_box :published, class: "custom-control-input", id: "customSwitch0" %>
                <%= f.label :published, "Publish", class: "custom-control-label", for: "customSwitch0" %>
        </div>
            <% if is_manager_or_admin? %>
                <div class="custom-control custom-switch mt-3">
                <%= f.check_box :require_ack, class: "custom-control-input", id: "customSwitch1" %>
                <%= f.label :require_ack, "Require Acknowledge", class: "custom-control-label", for: "customSwitch1" %>
                </div>
            <% end %>
    </div>
    <div class="form-group mt-3"> <%= f.submit class: "btn btn-outline-dark btn-sm" %>&nbsp;<%= f.submit "Cancel", class: "btn btn-outline-dark btn-sm" %></div>
    
<% end %>