<div class="accordion" id="accordionDiv">
    <% @notes.each do |note| %>
        <div class="card">
            <div class="card-header" id="heading<%= note.id %>">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%= note.id %>" aria-expanded="true" aria-controls="collapse<%= note.id %>">
                    <% if params[:query].present? %>
                        <%= highlight(note.title, params[:query], highlighter: highlight_style) %> 
                    <% else %>
                        <%= note.title %>
                    <% end %>
                        (<%= display_wing(note) %>) 
                        <%= display_tag(note) %>
                        <% if is_current_user_or_admin?(note) %>
                            <%= link_to edit_user_note_path(current_user.id, note) do %>
                            <!-- i class="bi-pencil-square"></!-->
                            <%= bootstrap_icon "pencil-square", width: 20, height: 20, fill: "lightblue" %>
                            <% end %>
                            <%= link_to note_bump_path(note) do %>
                            <!-- i class="bi-arrow-up-square"></!-->
                            <%= bootstrap_icon "arrow-up-square", width: 20, height: 20, fill: "lightblue" %>
                            <% end %>
                        <% end %>
                    </button>
                </h2>
            </div>

            <div id="collapse<%= note.id %>" class="collapse" aria-labelledby="heading<%= note.id %>" data-parent="#accordionDiv">
                <%= render partial: "layouts/shared/content_card", locals: {note: note} %>
            </div>
        </div>
    <% end %>
</div>
<% if @notes.length == 0 %>
    No result.
<% end %>
<div class="apple_pagination">
  <%= will_paginate @notes, :container => false %>
</div>