<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.username %></td>
                <td><%= user.role.name %></td>
                <td><%= link_to "Edit", edit_admin_users_admin_path(user) %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
<%= form_with url: new_admin_users_admin_path, method: :get do |f| %>
    <%= f.submit "New user", class: "btn btn-outline-dark btn-sm" %>
<% end %>