<div class="card-body">
    <p><%= note.content %></p>
    <h6>Comments</h6>
       
        <% note.comments.each do |comment| %>
            <p id="deleteComment<%= comment.id %>" >
                <b><i><%= comment.user.username %></i></b> : "<%= comment.content %>"
                <%= link_to comment_path(comment), method: :delete, remote: true, data: { confirm: "Are you sure?" } do %>
                <i class="bi-trash"></i>
                <% end %>
            </p>
        <% end %>
        <% if logged_in? %>
            <%= form_with url: comments_path, method: :post, local: true do |f| %>
            <%= f.hidden_field :note_id, value: note.id if note %>
            <%= f.hidden_field :user_id, value: current_user.id if current_user %>
            <div class="form-group"><%= f.text_area :content, class: "form-control", placeholder: "Write comment here" %></div> 
            <div class="form-group"><%= f.submit class: "btn btn-outline-dark btn-sm" %></div>
            <% end %>
        <% else %>
            Please login to write comment
        <% end %>
</div>