<div class="accordion" id="accordionDiv">
    <% @notes.each do |note| %>
        <div class="card">
            <div class="card-header" id="heading<%= note.id %>">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%= note.id %>" aria-expanded="true" aria-controls="collapse<%= note.id %>">
                    <%= note.title %> (by <%= note.user.username %>) (<%= display_wing(note) %>)  <%= link_to "Edit", edit_note_path(note) %>
                    </button>
                </h2>
            </div>

            <div id="collapse<%= note.id %>" class="collapse" aria-labelledby="heading<%= note.id %>" data-parent="#accordionDiv">
                <div class="card-body">
                    <%= note.content %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>