<div class="accordion" id="accordionDiv">
    <% @notes.each do |note| %>
        <div class="card">
            <div class="card-header" id="heading<%= note.id %>">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%= note.id %>" aria-expanded="true" aria-controls="collapse<%= note.id %>">
                    <%= note.title %> 
                    <span class="badge badge-danger"><%= Acknowledge.people_not_ack(note: note).count %> unacknowledged</span>
                    <span class="badge badge-success"><%= Acknowledge.people_ack(note: note).count %> acknowledge</span>
                    </button>
                </h2>
            </div>

            <div id="collapse<%= note.id %>" class="collapse" aria-labelledby="heading<%= note.id %>" data-parent="#accordionDiv">
                <% Acknowledge.people_not_ack(note: note).each do |u| %>
                    <span class="d-block py-1 pl-5 mx-1 bg-danger text-white"><%= u.username %></span>
                <% end %>
                <% Acknowledge.people_ack(note: note).each do |u| %>
                    <span class="d-block py-1 pl-5 mx-1 bg-success text-white"><%= u.username %></span>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

<div class="apple_pagination">
  <%= will_paginate @notes, :container => false %>
</div>