<nav class="navbar navbar-light navbar-expand-lg navigation-clean">
    <div class="container"><a class="navbar-brand" href="/">e-note</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><%= link_to "All Notes", notes_path, class: "nav-link" %></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">View by wing</a>
                    <div class="dropdown-menu">
                    <% wings = Wing.all %>
                    <% wings.each do |wing| %>
                        <%= link_to wing.name, wing_notes_path(wing.id), class: "dropdown-item" %>
                    <% end %>
                </li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">View by tag</a>
                    <div class="dropdown-menu">
                    <% tags = Tag.all %>
                    <% tags.each do |tag| %>
                        <%= link_to tag.name, root_path(tag_id: tag.id), class: "dropdown-item" %>
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= form_with url: notes_search_path, method: :get do |f| %>
                        <div class="input-group"> <%= f.text_field :query, class: "form-control" %>
                            <div class="input-group-append"><button class="btn btn-info">
                            <!-- i class="bi bi-search"></!-->
                            <%= bootstrap_icon "search", width: 20, height: 20, fill: "grey" %>
                            </button></div>
                        </div>
                    <% end %>

                </li>
                <li class="nav-item pl-1 pt-1"><%= link_to settings_path do %>
                    <!-- i class="bi-gear" style="font-size: 1.5rem; color: black; padding-left: 5px;"></!-->
                    <%= bootstrap_icon "gear", width: 30, height: 30, fill: "grey" %>
                <% end %>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
