<nav class="navbar navbar-light navbar-expand-lg navigation-clean">
    <div class="container"><a class="navbar-brand" href="/">e-note</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><%= link_to "All Notes", notes_path, class: "nav-link" %></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">View notes by wing</a>
                        <div class="dropdown-menu">
                        <%= link_to "Willows", wing_notes_path(2), class: "dropdown-item" %>
                        <%= link_to "Oaks", wing_notes_path(3), class: "dropdown-item" %>
                        <%= link_to "Juniper", wing_notes_path(4), class: "dropdown-item" %>
                        <%= link_to "Acacia", wing_notes_path(5), class: "dropdown-item" %>
                        <%= link_to "Myrtle", wing_notes_path(6), class: "dropdown-item" %>
                        </div>
                    </li>
                 <li class="nav-item"><a class="nav-link" href="#">Search Notes</a></li>
                <li class="nav-item"><%= link_to settings_path do %>
                    <i class="bi-gear" style="font-size: 1.5rem; color: black; padding-left: 5px;"></i>
                <% end %>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
