<section class="login-clean">
    <% if logged_in? %>
        <p>Hello, <%= current_user.username %></p>
            <%= form_with url: logout_path, method: :post do |f| %>
                <div class="form-group"><%= f.submit "Log out", class: "btn btn-outline-dark btn-sm" %></div>
            <% end %>
        <%= render 'layouts/shared/divider' %>
            <% if is_staff? && User.unack_notes_count(user: current_user) > 0 %>
                <%= form_with url: acknowledges_path, method: :get do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id if current_user %> 
                <div class="form-group"><%= f.submit "You have #{pluralize(User.unack_notes(user: current_user).count, "unread note")}", class: "btn btn-outline-danger btn-sm" %></div>
                <% end %>
                <%= render 'layouts/shared/divider' %>
            <% end %>
        
            <%= form_with url: new_note_path, method: :get do |f| %>
                <div class="form-group"><%= f.submit "Create new note", class: "btn btn-outline-dark btn-sm" %></div>
            <% end %>

            <%= form_with url: user_notes_path(current_user.id), method: :get do |f| %>
                <div class="form-group"><%= f.submit "View my notes", class: "btn btn-outline-dark btn-sm" %></div>
            <% end %>    

        <% if current_role == "manager" %> <!-- manager section -->
        <%= render 'layouts/shared/divider' %>
            <%= form_with url: acknowledges_path, method: :get do |f| %>
                <div class="form-group"><%= f.submit "View required acknowledge notes", class: "btn btn-outline-dark btn-sm" %></div>
            <% end %>    
        <% end %>       

        <% if current_role == "admin" %><!-- admin section -->
        <%= render 'layouts/shared/divider' %>
            <%= form_with url: admin_users_admin_index_path, method: :get do |f| %>
                <div class="form-group"><%= f.submit "User management", class: "btn btn-outline-dark btn-sm" %></div>
            <% end %>
        <% end %>

    <% else %>
             <%= form_with url: login_path, method: :post do |f| %>
                <h6 >Login Form</h6>
                <div class="form-group"><%= f.text_field :username, class: "form-control", placeholder: "username" %></div>    
                <div class="form-group"><%= f.password_field :password, class: "form-control", placeholder: "password"  %></div> 
                <div class="form-group"><%= f.submit "Login", class: "btn btn-outline-dark btn-sm" %></div>
            <% end %>
    <% end %>
</section>