<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title>E-Note</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
  
    <%= render "layouts/nav" %>
    
    <div class="container">
      <%= render "layouts/flash" %>
      <div class="row">
          <div class="col-md-8">
              <%= yield %>
          </div>
          <div class="col-md-4 login-box">
              <%= render "layouts/user_box" %>
          </div>
      </div>
    </div>
  
    <%= render "layouts/footer" %>
  </body>
</html>
